body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #262a3a !important;
}


.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}