body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
}


.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  margin-top: 10px;
  height: calc(100vh - 300px);
  overflow-y: auto;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.feature-list {
  padding-inline-start: 0px;
}

.feature-list li{
  padding: 2px;
  background: #f7f7f7;
  border: 1px solid #d5d5d5;
  list-style: none;
}

sup {
  font-size: .6rem;
  vertical-align: super;
}